.homes {
    grid-column: center-start / center-end;

    display: grid;
    gap: 7rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    margin: 15rem 0;
}

.home {
    background-color: $color-grey-light-1;

}