.homes {
    grid-column: center-start / center-end;

    display: grid;
    gap: 7rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    margin: 15rem 0;
}

.home {
    background-color: $color-grey-light-1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3.5rem;

    &__img {
        width: 100%;
        grid-area: 1 / 1 / 2 / -1;
        z-index: 1;
    }
    
    &__like {
        grid-area: 1 / 2 / 2 / 3;
        fill: $color-primary;
        width: 2.5rem;
        height: 2.5rem;
        justify-self: end;
        margin: 1rem;
        z-index: 2;
    }

    &__name {
        grid-area: 1 / 1 / 2 / -1;
        justify-self: center;
        align-self: end;
        z-index: 3;
        width: 80%;
        font-family: $font-display;
 
        
        svg {
            fill: $color-primary;
            height: 2rem;
            width: 2rem;
        }
    }

    &__btn {
        grid-column: 1 / -1;
    }
}
