.realtors {
    background-color: $color-secondary;
    grid-column: col-start 7 / full-end;
    padding: 3rem;
    

    row-gap: 2rem;

    &__list {
        column-gap: 2rem;
        row-gap: 5vh;
    }

    img {
        width: 7rem;
    }

    &__sold {
        text-transform: uppercase;
        color: $color-grey-light-2;
        margin-top: -3px;
    }
}
